* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-areas: "header" "menu" "footer";
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

header {
  grid-area: header;
  height: auto;
  background-color: #f8f7ff; }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 10px; }
    header nav .logo {
      font-weight: bold;
      color: #3E92CC;
      font-size: 1.6em;
      padding: 5px;
      margin: 10px 0px;
      text-decoration: none; }
      header nav .logo:hover {
        color: #C44536; }
    header nav ul {
      list-style: none;
      margin-bottom: 10px; }
      header nav ul li {
        padding: 4px; }
        header nav ul li a {
          text-decoration: none;
          padding: 5px;
          color: black;
          font-weight: bold; }
          header nav ul li a:hover {
            color: #C44536; }
    header nav #boton1 {
      border: 1px solid #C44536;
      border-radius: 5px;
      background: white;
      color: #C44536;
      font-style: italic;
      padding: 8px;
      padding-right: 14px;
      padding-left: 12px;
      text-decoration: none; }
      header nav #boton1:hover {
        background-color: #C44536;
        color: white;
        border: 1px solid #C44536; }

main {
  grid-area: menu;
  background-color: #f8f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto; }
  main img {
    width: 90vw; }
  main h2, main h3 {
    color: #C44536;
    font-size: 1.5em;
    padding: 2px;
    margin: 5px 0; }
  main p {
    font-size: 1em;
    padding: 2px 0; }
  main .slideprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100vw;
    height: 30vh;
    max-height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    main .slideprincipal h1 {
      font-size: 2.5em;
      padding: 4px; }
    main .slideprincipal h2 {
      color: white;
      font-size: 1.3em; }
  main .slideSecundario div {
    padding: 4px;
    margin-top: 4px; }
