@import 'mixins';

header {
    grid-area: header;
    height: auto;
    background-color: map-get($colors, primero);

    nav {
        @include position(flex, column, center, center, center);
        height: 100%;
        padding: 10px;

        @media screen and (min-width:#{$tablets}) {
            max-height: 80px;

            div,
            ul {
                @include position(flex, row, center, center, center);

                ul {
                    margin: 11px;
                }
            }
        }
    }

    .logo {
        font-weight: bold;
        color: map-get($colors, segundo);
        font-size: 1.6em;
        padding: 5px;
        margin: 10px 0px;
        text-decoration: none;

        &:hover {
            color: map-get($colors, tercero);
        }
    }

    ul {
        list-style: none;
        margin-bottom: 10px;

        li {
            padding: 4px;

            a {
                text-decoration: none;
                padding: 5px;
                color: black;
                font-weight: bold;

                &:hover {
                    color: map-get($colors, tercero);
                }
            }
        }
    }

    #boton1 {
        border: 1px solid map-get($colors, tercero);
        border-radius: 5px;
        background: rgb(255, 255, 255);
        color: map-get($colors, tercero);
        font-style: italic;
        padding: 8px;
        padding-right: 14px;
        padding-left: 12px;
        text-decoration: none;

        &:hover {
            background-color: map-get($colors, tercero);
            color: white;
            border: 1px solid map-get($colors, tercero);
        }
    }
}