@import 'variables';

@mixin columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "header""menu""footer";
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    grid-area: header;
    height: auto;
    background-color: $color-primero;

    nav {
        @include columnCenter();
        height: 100%;
        padding: 10px;

        .logo {
            font-weight: bold;
            color: $color-segundo;
            font-size: 1.6em;
            padding: 5px;
            margin: 10px 0px;
            text-decoration: none;

            &:hover {
                color: $color-tercero;
            }
        }

        ul {
            list-style: none;
            margin-bottom: 10px;

            li {
                padding: 4px;

                a {
                    text-decoration: none;
                    padding: 5px;
                    color: black;
                    font-weight: bold;

                    &:hover {
                        color: $color-tercero;
                    }
                }
            }
        }

        #boton1 {
            border: 1px solid $color-tercero;
            border-radius: 5px;
            background: rgb(255, 255, 255);
            color: $color-tercero;
            font-style: italic;
            padding: 8px;
            padding-right: 14px;
            padding-left: 12px;
            text-decoration: none;

            &:hover {
                background-color: $color-tercero;
                color: white;
                border: 1px solid $color-tercero;
            }
        }
    }
}

main {
    grid-area: menu;
    background-color: $color-primero;
    @include columnCenter();
    height: auto;

    img {
        width: 90vw;
    }
    h2, h3 {
        color: $color-tercero;
        font-size: 1.5em;
        padding: 2px;
        margin: 5px 0;
    }
    p{
        font-size: 1em;
        padding: 2px 0;
    }

    .slideprincipal {
        @include columnCenter();
        color: white;
        width: 100vw;
        height: 30vh;
        max-height: 40vh;

        background: {
            image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/3.png);
            position: center;
            repeat: no-repeat;
            size: cover;
        }

        h1 {
            font-size: 2.5em;
            padding: 4px;
        }
        h2{color: white;font-size: 1.3em;}
    }


    .slideSecundario {
        div {
            padding: 4px;
            margin-top: 4px;


        }

    }
}