* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "header""menu""footer";
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}